.article {
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light-1;

  ///////////
  // FIGURE
  &__fig {
    height: 24rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
      opacity: 0.3;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }

  &__title {
    padding: 1.8rem 1.2rem;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    line-height: 1.95;
    text-align: center;
    background-image: linear-gradient(
      to right bottom,
      $color-grad-1-shade,
      $color-grad-2
    );
    span {
      // -webkit-box-decoration-break: clone;
      // box-decoration-break: clone;
      padding: 1.3rem 2rem;
    }
  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 3.5rem 8rem 3.5rem 8rem;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-bold {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background-color: darken($color-grey-light-2, 2%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  ///////////
  // INGREDIENTS
  &__heading {
    padding: 5rem 8rem 0rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__text {
    height: 25.5rem;
    padding: 1rem 8rem 8rem 8rem;
    font-size: 1.65rem;
    font-weight: 400;
    text-align: justify;
    background-color: $color-grey-light-2;
  }
  &__description {
    font-weight: 600;
    margin-bottom: 3.4rem;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
  &__direction-text-ending {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    display: block;
  }
}
